body {
    background-color: white;
}
h1, h2, h3, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
}
#board {
    text-align: center;
}
.squares { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;
    background-color: black;
    width: 75px;
    height: 75px;
    border: 8px black;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    color: aquamarine;
}
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    height: 80px;
    width: 100px;
    font-size: 22px;
}