body {
    background-color: white;
}
h1 {
    text-align: center;
    color: blue;
}
#board {
    text-align: center;
}
#square1, #square2, #square3, #square4, #square5, #square6, #square7, #square8, #square9 {
    background-color: grey;
    width: 100px;
    height: 100px;
    border: 10px black;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}