body {
    background-color: white;
}
h1, h2, h3 {
    text-align: center;
    color: blue;
}
#board {
    text-align: center;
}
.squares { 
    background-color: grey;
    width: 100px;
    height: 100px;
    border: 10px black;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#button {
    height: 80px;
    width: 100px;
    font-size: 20px;
}